#.env.example - Sirve de plantilla para quien clone el repo
DJANGO_SECRET_KEY=reemplaza-esto-con-una-clave-real
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOST=localhost,127.0.0.1

MYSQL_DATABASE=taskpet_db
MYSQL_USER=taskpet_user
MYSQL_PASSWORD=reemplaza-esto
MYSQL_ROOT_PASSWORD=reemplaza-esto-tambien
MYSQL_HOST=db
MYSQL_PORT=3306